# files generated automatically by Mac
.DS_Store
.DS_Store?

# files by emacs
*.*~

# files by Latex
*.aux
*.dvi
*.bbl
*.log
*.blg
Static Scheduling of a Time-Triggered Network-On-Chip based on Memetic Algorithm.pdf

